.overall{
    padding-left: 100px;
    padding-right: 100px;
}

.left{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    border-left: 1px solid var(--gray-dark);
    border-right: 1px solid var(--gray-dark);
}

.avatar{
    width: 200px;
    border-radius: 100px;
    margin-left: 52px;
    border: 5px solid #1dc6ff;
    outline: 10px solid #d1f5ff;
}

.name{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    color: #1dc6ff;
}

.job{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: -10px;
}

.left-contact ul{
    list-style: none;
}

.left-contact li{
    padding-top: 8px;
}

.left-contact span{
    padding-left: 8px;
}